<!DOCTYPE HTML>
<html>
	<head>
		<title>#taggy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/dark.css" />

		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	<style>
		.tagcloud {
float:right;
width:70%;
text-align: -webkit-auto;
}
.imagecloud {
float:left;
width:30%;
}
		.wrapper {
			width:95%; 
			margin:0px auto;
			padding:20px;
			background:#fefefe;
			border:1px solid #f1f1f1;
		}
		h1 {margin:0 0 20px 0;}
        
        	.fileform { 
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;

}
 
.fileform .selectbutton { 
    background-color: #7ec3ee;
    border: 0px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 43px;
    line-height: 40px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;

}
 
.fileform #image-input{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 50px; 
    z-index:20;
}
	</style>
    </head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
                
                
					<header id="header" class="alt">
                        
						<h1>#taggy</h1>
						<p>Формирование пула мета-тегов для загружаемых изображений

				</p>
					</header>

				<!-- Nav -->
					
<nav id="nav">
						<ul>
							<li><a href="#download">Загрузка изображения</a></li>
                            <li><a href="#stats">Статистика</a></li>
                            <li><a href="#api" class="active">API</a></li>
							
							
							
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">

						
						

						<!-- Get Started -->
							<section id="download" class="main special">
								<header class="major">
									<h2>Анализ содержимого изображения  </h2>
									
								</header>
                                <section>
										
										 <form id="image-form">
											<div class="row gtr-uniform">
												<div class="col-12">
												
<div class="fileform">
<div class="selectbutton">Выбрать</div>


<input type="file" id="image-input" name="image" accept="image/*" required>
</div><br><br>
													    <input type="submit" value="Загрузить" name="submit" class="button primary">
												</div>
												
												
												
												
												
											</div>
										</form>

    <div id="progress" style="display: none; margin-bottom: 20px">Sending...</div>

    <div id="output"></div>

									</section> 
                                 
                                
							</section>
                        
                         
							

						<!-- stat Section -->
							<section id="stats" class="main special">
								<header class="major">
									<h2>Статистика</h2>
									<p>Мы распознаем объекты на фото и представляем Вам результат в виде тегов.</p>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon fa-photo"></span>
										<strong>5120</strong>  фото
									</li>
									<li class="style2">
										<span class="icon fa-folder-open-o"></span>
										<strong>10340</strong>  тегов
									</li>
									<li class="style3">
										<span class="icon fa-signal"></span>
										<strong>95%</strong> точность распознавания
									</li>
									
								</ul>
								
							</section>

						<!-- Get Started -->
							<section id="api" class="main">
								<header class="major">
									       <section id="content" class="main">
									<center>	
                                    <h2>API для разработчиков</h2></center>
                                    
                                               <div class="wrapper">
                                                   <h5>Загрузка изображения </h5>
									<left><pre class="slh__js" style="width:100%">
									
curl -X POST \
  http://guessme.info/images \
  -H 'Cache-Control: no-cache' \
  -H 'content-type: multipart/form-data' \
  -F image=@/path/to/image
        </left>
		</pre>
                                        
                                        <h5>Ответ на команду</h5>
		<pre class="slh__js" style="width:100%">
[
    {
        "tag_en": "tabby",
        "tag_ru": "Табби",
        "score": 99.87
    },
    {
        "tag_en": "tiger cat",
        "tag_ru": "тигр кошка",
        "score": 33.72
    },
    {
        "tag_en": "Egyptian cat",
        "tag_ru": "Египетская кошка",
        "score": 8.21
    },
    {
        "tag_en": "lynx",
        "tag_ru": "рысь",
        "score": 4.94
    },
    {
        "tag_en": "tiger",
        "tag_ru": "тигр",
        "score": 0.35
    }
]		
    </pre>
                                    </div>
									</section> 
								</header>
								
							</section>

					</div>
					</div>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
    
                
         
                                    
                                    
                                    
                                    </div>

				<!-- Footer -->
					<footer id="footer">
						
						
						<p class="copyright">&copy; Gedonizm </p>
					</footer>

			</div>

		<!-- Scripts -->
           <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/main.js"></script>
        <script src="css/liteHighlighting.js"></script>
			<script src="css/jquery.min.js"></script>
			<script src="css/jquery.scrollex.min.js"></script>
			<script src="css/jquery.scrolly.min.js"></script>
			<script src="css/browser.min.js"></script>
			<script src="css/breakpoints.min.js"></script>
			<script src="css/util.js"></script>
			<script src="css/main.js"></script>

	</body>
</html>